@inherits LayoutComponentBase

<PageTitle>World Cup Live</PageTitle>

<div>

    <MainMenu/>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
