@page "/"

@inject NavigationManager Navigation
@inject IReportService ReportService

<PageTitle>Home</PageTitle>

<h1>Where are you going?</h1>

<a class="nav-link" href="live">Experience Live</a>

<a class="nav-link" href="reporter">Report</a>




