@page "/"

@inject NavigationManager Navigation
@inject ICompetitionService CompetitionService


<PageTitle>Home</PageTitle>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center text-center">
	@if (competition?.Emblem != null)
	{
		<div class="mb-4">
			<img src="@competition.Emblem" alt="Competition Emblem" class="img-fluid" style="max-height: 200px;">
		</div>
	}
	<div class="d-flex justify-content-center gap-3">
		<a href="live" class="btn btn-primary btn-lg">Experience Live</a>
		<a href="reporter" class="btn btn-secondary btn-lg">Report</a>
	</div>
</div>

@code{
	private Competition? competition;

	private async Task GetCompetition()
	{
		var competitionResult = await CompetitionService.GetCompetitionAsync();

		if (competitionResult.Success)
		{
			competition = competitionResult.Data;
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await GetCompetition();
	}
}



