@page "/"

@inject NavigationManager Navigation
@inject IReportService ReportService

@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Ewel</h1>

<ul id="messageList">
	@foreach (var message in messages)
	{
		<li>@message</li>
	}
</ul>

@code{
	private HubConnection? hubConnection;
	private List<string> messages = new();

	protected override async Task OnInitializedAsync()
	{
		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri(AppConstants.HubUrl))
			.Build();

		hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
		{
			messages = ReportService.Messages();
			InvokeAsync(StateHasChanged);
		});

		await hubConnection.StartAsync();
	}

	public async ValueTask DisposeAsync() 
	{
		if (hubConnection is not null)
		{
			await hubConnection.DisposeAsync();
		}	
	}
}


