<button class="btn @ButtonClass mx-2"
        @onclick="OnClick"
        disabled="@IsDisabled">
    @ButtonText
</button>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public string ButtonText { get; set; } = "Click Me";

    [Parameter]
    public string ButtonClass { get; set; } = "btn-primary";
}
