<div class="col-2 d-flex flex-column align-items-center">
    <div class="time-indicator">
        <i class="bi bi-clock me-2"></i> @Minute'
    </div>
</div>

@code {
    [Parameter]
    public int Minute { get; set; }
}
